
/* Custom margin classes*/

/* Large screens apply mx-6 */
@media (min-width: 992px){
    .mx-lg-6 {
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
}

/* Extra Large screens apply mx-7*/
@media (min-width: 1200px){
    .mx-xl-7 {
        margin-left: 15rem !important;
        margin-right: 15rem !important;
    }
}


/* Styles for navbar */
.navbar {
    background-color: rgb(128, 161, 121);
}

.active {
    background-color: rgb(237, 235, 224) ;
}

.nav-link:hover {
    color: rgb(90, 204, 236) !important;
}


/* General styles */
h1 {
    color: rgb(56, 121, 98);
}